<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
         <!-- 允许和不允许单条语句返回多个数据集（取决于驱动需求） -->  
       <!--  <setting name="multipleResultSetsEnabled" value="true"/>   -->
    </settings>

	<!-- <typeAliases>
		<typeAlias type="cn.shendiao.login.model.Operator" alias="Op"/>
	</typeAliases> -->
	
	<!-- <mappers>
 		<mapper resource="mybatis/system/MatchMapper.xml" />
	</mappers>
	 -->
</configuration>